* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-family: $font-family-default;
    font-weight: 400;
    font-style: normal;
    background-color: $color-bg;
}

a {
    color: $color-link;
    text-decoration: none;

    &:hover{
        color: $color-link-hover;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.hidden {
    visibility: hidden !important;
}

.d-none {
    display: none !important;
}

.btn {
    cursor: pointer;
    border: none;
    border-radius: 50px;
    outline: 0;
    padding: 13px 30px;
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    background-color: $color-white;

    &--yellow {
        background-color: $color-btn-yellow;
        color: $color-secondary;

        &:hover {
            background-color: $color-btn-yellow-hover;
            transition: background-color 0.3s ease-in-out;
        }
    }

}